target/
result
todo
speki/dist/
speki/node_modules/
speki/target/
speki/dist/
speki/static/
speki/.dioxus/
speki/assets/tailwind.css
speki**/*.rs.bk
card_creation_plan.txt
input
input copy
**/*.dot
**/*.svg
